integration/hsa-integration/src/main/resources/schemas/schemas/HsaWsResponder_3.17.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified" targetNamespace="urn:riv:hsa:HsaWsResponder:3" xmlns:tns="urn:riv:hsa:HsaWsResponder:3" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="HsawsSimpleLookup" type="tns:HsawsSimpleLookupType"/>
  <xsd:element name="HsawsSimpleLookupResponse" type="tns:HsawsSimpleLookupResponseType"/>
  <xsd:element name="GetHsaUnit" type="tns:LookupHsaObjectType"/>
  <xsd:element name="GetHsaUnitResponse" type="tns:GetHsaUnitResponseType"/>
  <xsd:element name="GetCareUnit" type="tns:LookupHsaObjectType"/>
  <xsd:element name="GetCareUnitResponse" type="tns:GetCareUnitResponseType"/>
  <xsd:element name="GetMiuForPerson" type="tns:GetMiuForPersonType"/>
  <xsd:element name="GetMiuForPersonResponse" type="tns:GetMiuForPersonResponseType"/>
  <xsd:element name="GetHospPerson" type="tns:GetHospPersonType"/>
  <xsd:element name="GetHospPersonResponse" type="tns:GetHospPersonResponseType"/>
  <xsd:element name="Ping" type="tns:PingType"/>
  <xsd:element name="PingResponse" type="tns:PingResponseType"/>
  <xsd:element name="HsaWsFault" type="tns:HsaWsFaultType"/>
  <xsd:element name="VpwGetPublicUnits" type="tns:VpwGetPublicUnitsType"/>
  <xsd:element name="VpwGetPublicUnitsResponse" type="tns:VpwGetPublicUnitsResponseType"/>
  <xsd:element name="VpwGetPublicPersonsResponse" type="tns:VpwGetPublicPersonsResponseType"/>
  <xsd:element name="GetPriceUnitsForAuth" type="tns:GetPriceUnitsForAuthType"/>
  <xsd:element name="GetPriceUnitsForAuthResponse" type="tns:GetPriceUnitsForAuthResponseType"/>
  <xsd:element name="IsAuthorizedToSystem" type="tns:IsAuthorizedToSystemType"/>
  <xsd:element name="IsAuthorizedToSystemResponse" type="tns:IsAuthorizedToSystemResponseType"/>
  <xsd:element name="GetInformationList" type="tns:GetInformationListType"/>
  <xsd:element name="GetInformationListResponse" type="tns:GetInformationListResponseType"/>
  <xsd:element name="GetCareUnitList" type="tns:LookupHsaObjectType"/>
  <xsd:element name="GetCareUnitListResponse" type="tns:GetCareUnitListResponseType"/>
  <xsd:element name="GetCareUnitMembers" type="tns:LookupHsaObjectType"/>
  <xsd:element name="GetCareUnitMembersResponse" type="tns:GetCareUnitMembersResponseType"/>
  <xsd:element name="GetHsaPerson" type="tns:GetHsaPersonType"/>
  <xsd:element name="GetHsaPersonResponse" type="tns:GetHsaPersonResponseType"/>
  <xsd:complexType name="PingType"/>
  <xsd:complexType name="PingResponseType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="message" type="xsd:string"/>
      <xsd:element minOccurs="0" name="responseTime" type="xsd:integer"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HsaWsFaultType">
    <xsd:sequence>
      <xsd:element name="code" type="xsd:string"/>
      <xsd:element name="message" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HsawsSimpleLookupType">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="Search" type="tns:searchType"/>
        <xsd:element name="Lookup" type="tns:exactType"/>
      </xsd:choice>
      <xsd:element minOccurs="0" name="searchBase" type="tns:searchBaseType"/>
      <xsd:element minOccurs="0" name="attributes" type="tns:attributeListType"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute default="SimpleSearch" name="searchAttribute" type="tns:searchAttributeEnum" use="optional"/>
        <xsd:attribute name="searchOperator" type="tns:searchOperatorEnum" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="exactType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute default="hsaIdentity" name="searchAttribute" type="xsd:string" use="optional"/>
        <xsd:attribute default="EXACT" name="searchOperator" type="tns:searchOperatorExact" use="optional"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="searchAttributeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SimpleSearch"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="searchOperatorEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="STARTS_WITH"/>
      <xsd:enumeration value="ENDS_WITH"/>
      <xsd:enumeration value="CONTAINS"/>
      <xsd:enumeration value="EXACT"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="searchOperatorExact">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="EXACT"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="HsawsSimpleLookupResponseType">
    <xsd:sequence>
      <!--Tjänsten returnerar en träfflista för varje objekt som sökningen matchar. Om exempelvis en person är verksam
            i flera roller så returneras en träfflista per unik roll.-->
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="responseValues" type="tns:attributeValueListType"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="attributeListType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="attribute" type="tns:attributeDataType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="attributeValueListType">
    <xsd:sequence>
      <!--DN visar resultatets position i organisationsträdet. Om flera träfflistor returneras kan dn användas för att identifiera den mest relevanta.-->
      <xsd:element name="DN" type="xsd:string"/>
      <!--Attributlista. Listan innehåller en post per eftersökt attribut som är tillgängligt i katalogen.-->
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="response" type="tns:attributeValuePairType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="attributeValuePairType">
    <xsd:sequence>
      <!--Namnet på det eftersökta attributet.-->
      <xsd:element name="attribute" type="xsd:string"/>
      <!--Stränglista med ett eller flera värden per attribut. Binära attribut Base64 kodas och inkluderas 
            direkt i elementet.-->
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="attributeDataType">
    <xsd:restriction>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40"/>
          <xsd:pattern value="[(\p{L})0-9\-]*"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="searchBaseType">
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="350"/>
      <xsd:pattern value="([OUDCNLoudcnl]{1,2}=[0-9\p{L}\p{Zs}\-.]*,?)*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="hsaIdentityType">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="LookupHsaObjectType">
    <xsd:sequence>
      <xsd:element name="hsaIdentity" type="tns:hsaIdentityType"/>
      <xsd:element minOccurs="0" name="searchBase" type="tns:searchBaseType"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetHospPersonType">
    <xsd:sequence>
      <xsd:element name="personalIdentityNumber" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetHospPersonResponseType">
    <xsd:sequence>
      <xsd:element name="personalIdentityNumber" type="xsd:string"/>
      <xsd:element minOccurs="0" name="personalPrescriptionCode" type="xsd:string"/>
      <xsd:element name="educationCodes" type="tns:EducationCodesType"/>
      <xsd:element name="restrictions" type="tns:RestrictionsType"/>
      <xsd:element name="restrictionCodes" type="tns:RestrictionCodesType"/>
      <xsd:element name="titleCodes" type="tns:TitleCodesType"/>
      <xsd:element name="specialityCodes" type="tns:SpecialityCodesType"/>
      <xsd:element name="specialityNames" type="tns:SpecialityNamesType"/>
      <xsd:element name="hsaTitles" type="tns:HsaTitlesType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="hsaSosNursePrescriptionRight" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EducationCodesType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="educationCode" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RestrictionsType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="restriction" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RestrictionCodesType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="restrictionCode" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TitleCodesType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="titleCode" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SpecialityCodesType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="specialityCode" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SpecialityNamesType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="specialityName" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetCareUnitResponseType">
    <xsd:sequence>
      <xsd:element name="careUnitHsaIdentity" type="tns:hsaIdentityType"/>
      <xsd:element name="careGiver" type="tns:orgNo"/>
      <xsd:element minOccurs="0" name="careUnitStartDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="careUnitEndDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="careGiverStartDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="careGiverEndDate" type="xsd:dateTime"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="orgNo">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="GetCareUnitListResponseType">
    <xsd:sequence>
      <xsd:element name="careUnitGiverHsaIdentity" type="tns:hsaIdentityType"/>
      <xsd:element name="careUnitGiverName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="careUnitGiverStartDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="careUnitGiverEndDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="careUnits">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="careUnit" type="tns:CareUnitType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CareUnitType">
    <xsd:sequence>
      <xsd:element name="hsaIdentity" type="tns:hsaIdentityType"/>
      <xsd:element name="careUnitName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="careUnitStartDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="careUnitEndDate" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetCareUnitMembersResponseType">
    <xsd:sequence>
      <xsd:element name="careUnitName" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="unitPrescriptionCode" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="telephoneNumber" type="xsd:string"/>
      <xsd:element minOccurs="0" name="postalAddress" type="tns:AddressType"/>
      <xsd:element minOccurs="0" name="postalCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="careUnitStartDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="careUnitEndDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="careUnitMembers">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="careUnitMember" type="tns:CareUnitMemberType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CareUnitMemberType">
    <xsd:sequence>
      <xsd:element name="careUnitName" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="unitPrescriptionCode" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="telephoneNumber" type="xsd:string"/>
      <xsd:element minOccurs="0" name="postalAddress" type="tns:AddressType"/>
      <xsd:element minOccurs="0" name="postalCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="careUnitMemberStartDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="careUnitMemberEndDate" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetMiuForPersonType">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="hsaIdentity" type="tns:hsaIdentityType"/>
        <xsd:element name="personalIdentityNumber" type="xsd:string"/>
      </xsd:choice>
      <xsd:element minOccurs="0" name="searchBase" type="tns:searchBaseType"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetMiuForPersonResponseType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MiuInformation" type="tns:MiuInformationType"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MiuInformationType">
    <xsd:sequence>
      <xsd:element name="miuName" type="xsd:string"/>
      <xsd:element name="hsaIdentity" type="tns:hsaIdentityType"/>
      <xsd:element name="miuPurpose" type="xsd:string"/>
      <xsd:element minOccurs="0" name="careUnitHsaIdentity" type="tns:hsaIdentityType"/>
      <xsd:element minOccurs="0" name="careUnitName" type="xsd:string"/>
      <xsd:element name="careGiver" type="xsd:string"/>
      <xsd:element name="careGiverName" type="xsd:string"/>
      <xsd:element name="careGiverOrgNo" type="tns:orgNo"/>
      <xsd:element minOccurs="0" name="personalPrescriptionCode" type="xsd:string"/>
      <xsd:element name="hsaTitles" type="tns:HsaTitlesType"/>
      <xsd:element name="miuRights" type="tns:MiuRightsType"/>
      <xsd:element name="hsaSystemRoles" type="tns:HsaSystemRolesType"/>
      <xsd:element name="hsaIdentityPerson" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="paTitleCode" type="xsd:string"/>
      <xsd:element name="givenName" type="xsd:string"/>
      <xsd:element name="middleAndSurName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="careUnitStartDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="careUnitEndDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="careGiverStartDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="careGiverEndDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="hsaProtectedPerson" type="xsd:boolean"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HsaTitlesType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="hsaTitle" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MiuRightsType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="miuRight" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HsaSystemRolesType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="hsaSystemRole" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetPriceUnitsForAuthType">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="searchBases">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" minOccurs="1" name="searchBase" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="hsaIdSearchBases">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" minOccurs="1" name="hsaIdSearchBase">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="searchBase" type="tns:searchBaseType"/>
                    <xsd:element name="hsaId" type="tns:hsaIdentityType"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="orgIds">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" minOccurs="1" name="orgId" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:choice>
      <xsd:element minOccurs="0" name="hsaTitles">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" name="hsaTitle" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPersons" type="xsd:boolean"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetPriceUnitsForAuthResponseType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DentalCareUnit" type="tns:DentalCareUnitType"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DentalCareUnitType">
    <xsd:sequence>
      <xsd:element name="hsaIdentity" type="tns:hsaIdentityType"/>
      <xsd:element name="dentalCareUnitBaseName" type="xsd:string"/>
      <xsd:element name="hsaDestinationIndicator" type="xsd:string"/>
      <xsd:element name="dentalUnit" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="dentalCareUnit" type="tns:DentalCareUnitType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="dentalCarePerson" type="tns:DentalCarePerson"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="dentalCareFunction" type="tns:DentalCareFunction"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DentalCarePerson">
    <xsd:sequence>
      <xsd:element name="hsaId" type="tns:hsaIdentityType"/>
      <xsd:element name="givenName" type="xsd:string"/>
      <xsd:element name="middleName" type="xsd:string"/>
      <xsd:element name="surName" type="xsd:string"/>
      <xsd:element name="title" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DentalCareFunction">
    <xsd:sequence>
      <xsd:element name="hsaId" type="tns:hsaIdentityType"/>
      <xsd:element name="functionName" type="xsd:string"/>
      <xsd:element name="hsaDestinationIndicator" type="xsd:string"/>
      <xsd:element name="dentalUnitFunction" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VpwGetPublicUnitsType"/>
  <xsd:complexType name="VpwGetPublicUnitsResponseType">
    <xsd:sequence>
      <xsd:element name="startDate" type="xsd:dateTime"/>
      <xsd:element name="endDate" type="xsd:dateTime"/>
      <xsd:element name="publicUnits">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="publicUnit" type="tns:PublicUnitType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="unavailableLocations">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="unavailableLocation" type="tns:UnavailableLocationType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="statistics" type="tns:StatisticsType"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PublicUnitType">
    <xsd:sequence>
      <xsd:element name="hsaIdentity" type="xsd:string"/>
      <xsd:element minOccurs="0" name="name" type="xsd:string"/>
      <xsd:element name="location" type="xsd:string"/>
      <xsd:element name="searchBase" type="xsd:string"/>
      <xsd:element name="modifyTimestamp" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VpwGetPublicPersonsResponseType">
    <xsd:sequence>
      <xsd:element name="startDate" type="xsd:dateTime"/>
      <xsd:element name="endDate" type="xsd:dateTime"/>
      <xsd:element name="publicPersons">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="publicPerson" type="tns:PublicPersonType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PublicPersonType">
    <xsd:sequence>
      <xsd:element name="hsaIdentity" type="xsd:string"/>
      <xsd:element name="givenName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="middleName" type="xsd:string"/>
      <xsd:element name="sn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="nickName" type="xsd:string"/>
      <xsd:element name="title" type="xsd:string"/>
      <xsd:element name="DN" type="xsd:string"/>
      <xsd:element name="parentPublicUnits">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="parentPublicUnit" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListGetHsaUnitsResponseType">
    <xsd:sequence>
      <xsd:element name="startDate" type="xsd:dateTime"/>
      <xsd:element name="endDate" type="xsd:dateTime"/>
      <xsd:element name="hsaUnits">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="hsaUnit" type="tns:ListHsaUnitType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListHsaUnitType">
    <xsd:sequence>
      <xsd:element name="hsaIdentity" type="xsd:string"/>
      <xsd:element name="DN" type="xsd:string"/>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="isHsaHealthCareProvider" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="isHsaHealthCareUnit" type="xsd:boolean"/>
      <xsd:element name="hsaResponsibleHealthCareProvider" type="xsd:string"/>
      <xsd:element minOccurs="0" name="hsaHealthCareUnitMembers">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="hsaHealthCareUnitMember" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="startDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="endDate" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UnavailableLocationType">
    <xsd:sequence>
      <xsd:element name="location" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StatisticsType">
    <xsd:sequence>
      <xsd:element name="totalPublicUnits" type="xsd:long"/>
      <xsd:element name="locations">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="location">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="location" type="xsd:string"/>
                  <xsd:element name="publicUnits" type="xsd:long"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetHsaUnitResponseType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="alternateNames">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="alternateName" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="alternateText" type="xsd:string"/>
      <xsd:element minOccurs="0" name="businessClassifications">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="businessClassification" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="businessClassificationCodes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="businessClassificationCode" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="businessTypes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="businessType" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="careTypes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="careType" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="county" type="xsd:string"/>
      <xsd:element minOccurs="0" name="countyCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="description" type="xsd:string"/>
      <xsd:element minOccurs="0" name="directoryContact" type="xsd:string"/>
      <xsd:element minOccurs="0" name="displayOption" type="xsd:string"/>
      <xsd:element minOccurs="0" name="dropInHours">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="dropInHour" type="tns:TimeSpanType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="email" type="xsd:string"/>
      <xsd:element minOccurs="0" name="faxNumbers">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="faxNumber" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="geographicalCoordinatesRt90" type="tns:CoordinatesType"/>
      <xsd:element minOccurs="0" name="healthCareArea" type="xsd:string"/>
      <xsd:element minOccurs="0" name="hsaDestinationIndicators">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="hsaDestinationIndicator" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hsaIdentity" type="xsd:string"/>
      <xsd:element minOccurs="0" name="hsaJpegLogotype" type="xsd:string"/>
      <xsd:element minOccurs="0" name="invoiceAddress" type="tns:AddressType"/>
      <xsd:element minOccurs="0" name="jpegPhoto" type="xsd:string"/>
      <xsd:element minOccurs="0" name="labeledUri" type="xsd:string"/>
      <xsd:element minOccurs="0" name="location" type="xsd:string"/>
      <xsd:element minOccurs="0" name="managements">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="management" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="municipality" type="xsd:string"/>
      <xsd:element minOccurs="0" name="municipalityCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="municipalitySection" type="xsd:string"/>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="patientInformation" type="xsd:string"/>
      <xsd:element minOccurs="0" name="postalAddress" type="tns:AddressType"/>
      <xsd:element minOccurs="0" name="postalCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="priceInformation" type="xsd:string"/>
      <xsd:element name="publicName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="relatedUnits">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="relatedUnit" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="route" type="xsd:string"/>
      <xsd:element minOccurs="0" name="street" type="xsd:string"/>
      <xsd:element minOccurs="0" name="surgeryHours">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="surgeryHour" type="tns:TimeSpanType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="switchboardNumber" type="xsd:string"/>
      <xsd:element minOccurs="0" name="telephoneHours">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="telephoneHour" type="tns:TimeSpanType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="telephoneNumbers">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="telephoneNumber" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="textTelephoneNumbers">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="textTelephoneNumber" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="unitExtraInformation" type="xsd:string"/>
      <xsd:element minOccurs="0" name="unitFunctions">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="unitFunction" type="tns:HsaUnitFunctionType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="unitTemporaryInformation" type="tns:DateSpanType"/>
      <xsd:element minOccurs="0" name="visitingHours">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="visitingHour" type="tns:TimeSpanType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="visitingRuleAge" type="tns:AgeSpanType"/>
      <xsd:element minOccurs="0" name="visitingRuleReferral" type="xsd:string"/>
      <xsd:element minOccurs="0" name="visitingRules" type="xsd:string"/>
      <xsd:element name="DN" type="xsd:string"/>
      <xsd:element minOccurs="0" name="startDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="endDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="hsaVpwWebPage" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AddressType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="addressLine" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CoordinatesType">
    <xsd:sequence>
      <xsd:element name="type" type="xsd:string"/>
      <xsd:element name="x" type="xsd:string"/>
      <xsd:element name="y" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AgeSpanType">
    <xsd:sequence>
      <xsd:element name="from" type="xsd:integer"/>
      <xsd:element name="to" type="xsd:integer"/>
      <xsd:element minOccurs="0" name="comment" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TimeSpanType">
    <xsd:sequence>
      <xsd:element name="fromDay" type="xsd:integer"/>
      <xsd:element name="fromTime" type="xsd:time"/>
      <xsd:element name="fromTime2" type="xsd:string"/>
      <xsd:element name="toDay" type="xsd:integer"/>
      <xsd:element name="toTime" type="xsd:time"/>
      <xsd:element name="toTime2" type="xsd:string"/>
      <xsd:element name="comment" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DateSpanType">
    <xsd:sequence>
      <xsd:element name="fromDate" type="xsd:string"/>
      <xsd:element name="toDate" type="xsd:string"/>
      <xsd:element name="comment" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HsaUnitFunctionType">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="telephoneHours">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="telephoneHour" type="tns:TimeSpanType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="telephoneNumbers">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="telephoneNumber" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IsAuthorizedToSystemType">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="hsaIdentity" type="xsd:string"/>
        <xsd:element name="personalIdentityNumber" type="xsd:string"/>
      </xsd:choice>
      <xsd:element name="system" type="xsd:string"/>
      <xsd:element minOccurs="0" name="searchBase" type="tns:searchBaseType"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IsAuthorizedToSystemResponseType">
    <xsd:sequence>
      <xsd:element name="isAuthorized" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="userInformations">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="userInformation" type="tns:HsaUserType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HsaUserType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="description" type="xsd:string"/>
      <xsd:element minOccurs="0" name="email" type="xsd:string"/>
      <xsd:element name="givenName" type="xsd:string"/>
      <xsd:element name="hsaIdentity" type="xsd:string"/>
      <xsd:element minOccurs="0" name="hsaSwitchboardNumbers">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="hsaSwitchboardNumber" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="hsaSystemRoles">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="hsaSystemRole" type="tns:HsaSystemRoleType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="hsaTelephoneNumbers">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="hsaTelephoneNumber" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="labeledUri" type="xsd:string"/>
      <xsd:element minOccurs="0" name="languageKnowledgeCodes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="languageKnowledgeCode" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="mobileNumbers">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="mobileNumber" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="nickname" type="xsd:string"/>
      <xsd:element minOccurs="0" name="smsTelephoneNumber" type="xsd:string"/>
      <xsd:element minOccurs="0" name="specialityCodes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="specialityCode" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="specialityNames">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="specialityName" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="surname" type="xsd:string"/>
      <xsd:element minOccurs="0" name="telephoneHours">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="telephoneHour" type="tns:TimeSpanType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="telephoneNumbers">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="telephoneNumber" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="title" type="xsd:string"/>
      <xsd:element name="DN" type="xsd:string"/>
      <xsd:element name="middleName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="hsaProtectedPerson" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HsaSystemRoleType">
    <xsd:sequence>
      <xsd:element name="system" type="xsd:string"/>
      <xsd:element name="role" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetInformationListType">
    <xsd:sequence>
      <xsd:element name="listIdentity" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetInformationListResponseType">
    <xsd:sequence>
      <xsd:element name="containsList" type="xsd:boolean"/>
      <xsd:element name="informationList" type="xsd:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetHsaPersonType">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="hsaIdentity" type="xsd:string"/>
        <xsd:element name="personalIdentityNumber" type="xsd:string"/>
      </xsd:choice>
      <xsd:element minOccurs="0" name="searchBase" type="tns:searchBaseType"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetHsaPersonResponseType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="userInformations">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="userInformation" type="tns:GetHsaPersonHsaUserType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetHsaPersonHsaUserType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="description" type="xsd:string"/>
      <xsd:element minOccurs="0" name="mail" type="xsd:string"/>
      <xsd:element name="givenName" type="xsd:string"/>
      <xsd:element name="hsaIdentity" type="xsd:string"/>
      <xsd:element minOccurs="0" name="hsaSwitchboardNumber" type="xsd:string"/>
      <xsd:element minOccurs="0" name="hsaTelephoneNumbers">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="hsaTelephoneNumber" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="labeledUri" type="xsd:string"/>
      <xsd:element minOccurs="0" name="languageKnowledgeCodes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="languageKnowledgeCode" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="mobiles">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="mobile" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="facsimileTelephoneNumbers">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="facsimileTelephoneNumber" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="nickName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="smsTelephoneNumber" type="xsd:string"/>
      <xsd:element minOccurs="0" name="specialityCodes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="specialityCode" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="specialityNames">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="specialityName" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="telephoneHours">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="telephoneHour" type="tns:TimeSpanType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="telephoneNumbers">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="telephoneNumber" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="title" type="xsd:string"/>
      <xsd:element name="DN" type="xsd:string"/>
      <xsd:element name="middleName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="postalAddress" type="tns:AddressType"/>
      <xsd:element minOccurs="0" name="hsaTitles">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" name="hsaTitle" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="hsaProtectedPerson" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>