integration/hsa-integration/src/main/resources/schemas/wsdl/HsaWsInteraction_3.16.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HsaWsInteraction" targetNamespace="urn:riv:hsa:HsaWs:3" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tjs="urn:riv:hsa:HsaWsResponder:3" xmlns:tns="urn:riv:hsa:HsaWs:3" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xs:schema>
      <xs:import namespace="urn:riv:hsa:HsaWsResponder:3" schemaLocation="../schemas/HsaWsResponder_3.17.xsd"/>
    </xs:schema>
    <xs:schema>
      <xs:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="../schemas/ws-addressing-1.0.xsd"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetHsaPersonRequest">
    <wsdl:documentation>LogicalAddress skall sättas till SE165565594230-1000 (o=Sjukvårdsrådgivningen SVR AB,c=SE).</wsdl:documentation>
    <wsdl:part element="wsa:To" name="LogicalAddress"/>
    <wsdl:part element="wsa:MessageID" name="Id"/>
    <wsdl:part element="tjs:GetHsaPerson" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetCareUnitMembersResponse">
    <wsdl:part element="tjs:GetCareUnitMembersResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="VpwGetPublicUnitsRequest">
    <wsdl:documentation>LogicalAddress skall sättas till SE165565594230-1000 (o=Sjukvårdsrådgivningen SVR AB,c=SE).</wsdl:documentation>
    <wsdl:part element="wsa:To" name="LogicalAddress"/>
    <wsdl:part element="wsa:MessageID" name="Id"/>
    <wsdl:part element="tjs:VpwGetPublicUnits" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetHospPersonRequest">
    <wsdl:documentation>LogicalAddress skall sättas till SE165565594230-1000 (o=Sjukvårdsrådgivningen SVR AB,c=SE).</wsdl:documentation>
    <wsdl:part element="wsa:To" name="LogicalAddress"/>
    <wsdl:part element="wsa:MessageID" name="Id"/>
    <wsdl:part element="tjs:GetHospPerson" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetMiuForPersonResponse">
    <wsdl:part element="tjs:GetMiuForPersonResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="HsawsSimpleLookupResponse">
    <wsdl:part element="tjs:HsawsSimpleLookupResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetCareUnitMembersRequest">
    <wsdl:documentation>LogicalAddress skall sättas till SE165565594230-1000 (o=Sjukvårdsrådgivningen SVR AB,c=SE).</wsdl:documentation>
    <wsdl:part element="wsa:To" name="LogicalAddress"/>
    <wsdl:part element="wsa:MessageID" name="Id"/>
    <wsdl:part element="tjs:GetCareUnitMembers" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetHsaPersonResponse">
    <wsdl:part element="tjs:GetHsaPersonResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetInformationListRequest">
    <wsdl:documentation>LogicalAddress skall sättas till SE165565594230-1000 (o=Sjukvårdsrådgivningen SVR AB,c=SE).</wsdl:documentation>
    <wsdl:part element="wsa:To" name="LogicalAddress"/>
    <wsdl:part element="wsa:MessageID" name="Id"/>
    <wsdl:part element="tjs:GetInformationList" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetCareUnitListResponse">
    <wsdl:part element="tjs:GetCareUnitListResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="PingRequest">
    <wsdl:documentation>LogicalAddress skall sättas till SE165565594230-1000 (o=Sjukvårdsrådgivningen SVR AB,c=SE).</wsdl:documentation>
    <wsdl:part element="wsa:To" name="LogicalAddress"/>
    <wsdl:part element="wsa:MessageID" name="Id"/>
    <wsdl:part element="tjs:Ping" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetCareUnitListRequest">
    <wsdl:documentation>LogicalAddress skall sättas till SE165565594230-1000 (o=Sjukvårdsrådgivningen SVR AB,c=SE).</wsdl:documentation>
    <wsdl:part element="wsa:To" name="LogicalAddress"/>
    <wsdl:part element="wsa:MessageID" name="Id"/>
    <wsdl:part element="tjs:GetCareUnitList" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetCareUnitRequest">
    <wsdl:documentation>LogicalAddress skall sättas till SE165565594230-1000 (o=Sjukvårdsrådgivningen SVR AB,c=SE).</wsdl:documentation>
    <wsdl:part element="wsa:To" name="LogicalAddress"/>
    <wsdl:part element="wsa:MessageID" name="Id"/>
    <wsdl:part element="tjs:GetCareUnit" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="IsAuthorizedToSystemRequest">
    <wsdl:documentation>LogicalAddress skall sättas till SE165565594230-1000 (o=Sjukvårdsrådgivningen SVR AB,c=SE).</wsdl:documentation>
    <wsdl:part element="wsa:To" name="LogicalAddress"/>
    <wsdl:part element="wsa:MessageID" name="Id"/>
    <wsdl:part element="tjs:IsAuthorizedToSystem" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="IsAuthorizedToSystemResponse">
    <wsdl:part element="tjs:IsAuthorizedToSystemResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetHospPersonResponse">
    <wsdl:part element="tjs:GetHospPersonResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetHsaUnitResponse">
    <wsdl:part element="tjs:GetHsaUnitResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetMiuForPersonRequest">
    <wsdl:documentation>LogicalAddress skall sättas till SE165565594230-1000 (o=Sjukvårdsrådgivningen SVR AB,c=SE).</wsdl:documentation>
    <wsdl:part element="wsa:To" name="LogicalAddress"/>
    <wsdl:part element="wsa:MessageID" name="Id"/>
    <wsdl:part element="tjs:GetMiuForPerson" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="VpwGetPublicUnitsResponse">
    <wsdl:part element="tjs:VpwGetPublicUnitsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetInformationListResponse">
    <wsdl:part element="tjs:GetInformationListResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetCareUnitResponse">
    <wsdl:part element="tjs:GetCareUnitResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="HsawsSimpleLookupRequest">
    <wsdl:documentation>LogicalAddress skall sättas till SE165565594230-1000 (o=Sjukvårdsrådgivningen SVR AB,c=SE).</wsdl:documentation>
    <wsdl:part element="wsa:To" name="LogicalAddress"/>
    <wsdl:part element="wsa:MessageID" name="Id"/>
    <wsdl:part element="tjs:HsawsSimpleLookup" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetPriceUnitsForAuthRequest">
    <wsdl:documentation>LogicalAddress skall sättas till SE165565594230-1000 (o=Sjukvårdsrådgivningen SVR AB,c=SE).</wsdl:documentation>
    <wsdl:part element="wsa:To" name="LogicalAddress"/>
    <wsdl:part element="wsa:MessageID" name="Id"/>
    <wsdl:part element="tjs:GetPriceUnitsForAuth" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetHsaUnitRequest">
    <wsdl:documentation>LogicalAddress skall sättas till SE165565594230-1000 (o=Sjukvårdsrådgivningen SVR AB,c=SE).</wsdl:documentation>
    <wsdl:part element="wsa:To" name="LogicalAddress"/>
    <wsdl:part element="wsa:MessageID" name="Id"/>
    <wsdl:part element="tjs:GetHsaUnit" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="HsaWsFault">
    <wsdl:part element="tjs:HsaWsFault" name="fault"/>
  </wsdl:message>
  <wsdl:message name="GetPriceUnitsForAuthResponse">
    <wsdl:part element="tjs:GetPriceUnitsForAuthResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="PingResponse">
    <wsdl:part element="tjs:PingResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="HsaWsResponderInterface">
    <wsdl:operation name="HsawsSimpleLookup">
      <wsdl:input message="tns:HsawsSimpleLookupRequest"/>
      <wsdl:output message="tns:HsawsSimpleLookupResponse"/>
      <wsdl:fault message="tns:HsaWsFault" name="fault"/>
    </wsdl:operation>
    <wsdl:operation name="GetHsaUnit">
      <wsdl:input message="tns:GetHsaUnitRequest"/>
      <wsdl:output message="tns:GetHsaUnitResponse"/>
      <wsdl:fault message="tns:HsaWsFault" name="fault"/>
    </wsdl:operation>
    <wsdl:operation name="GetCareUnit">
      <wsdl:input message="tns:GetCareUnitRequest"/>
      <wsdl:output message="tns:GetCareUnitResponse"/>
      <wsdl:fault message="tns:HsaWsFault" name="fault"/>
    </wsdl:operation>
    <wsdl:operation name="GetMiuForPerson">
      <wsdl:input message="tns:GetMiuForPersonRequest"/>
      <wsdl:output message="tns:GetMiuForPersonResponse"/>
      <wsdl:fault message="tns:HsaWsFault" name="fault"/>
    </wsdl:operation>
    <wsdl:operation name="GetHospPerson">
      <wsdl:input message="tns:GetHospPersonRequest"/>
      <wsdl:output message="tns:GetHospPersonResponse"/>
      <wsdl:fault message="tns:HsaWsFault" name="fault"/>
    </wsdl:operation>
    <wsdl:operation name="VpwGetPublicUnits">
      <wsdl:input message="tns:VpwGetPublicUnitsRequest"/>
      <wsdl:output message="tns:VpwGetPublicUnitsResponse"/>
      <wsdl:fault message="tns:HsaWsFault" name="fault"/>
    </wsdl:operation>
    <wsdl:operation name="GetPriceUnitsForAuth">
      <wsdl:input message="tns:GetPriceUnitsForAuthRequest"/>
      <wsdl:output message="tns:GetPriceUnitsForAuthResponse"/>
      <wsdl:fault message="tns:HsaWsFault" name="fault"/>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingRequest"/>
      <wsdl:output message="tns:PingResponse"/>
      <wsdl:fault message="tns:HsaWsFault" name="fault"/>
    </wsdl:operation>
    <wsdl:operation name="IsAuthorizedToSystem">
      <wsdl:input message="tns:IsAuthorizedToSystemRequest"/>
      <wsdl:output message="tns:IsAuthorizedToSystemResponse"/>
      <wsdl:fault message="tns:HsaWsFault" name="fault"/>
    </wsdl:operation>
    <wsdl:operation name="GetInformationList">
      <wsdl:input message="tns:GetInformationListRequest"/>
      <wsdl:output message="tns:GetInformationListResponse"/>
      <wsdl:fault message="tns:HsaWsFault" name="fault"/>
    </wsdl:operation>
    <wsdl:operation name="GetCareUnitList">
      <wsdl:input message="tns:GetCareUnitListRequest"/>
      <wsdl:output message="tns:GetCareUnitListResponse"/>
      <wsdl:fault message="tns:HsaWsFault" name="fault"/>
    </wsdl:operation>
    <wsdl:operation name="GetCareUnitMembers">
      <wsdl:input message="tns:GetCareUnitMembersRequest"/>
      <wsdl:output message="tns:GetCareUnitMembersResponse"/>
      <wsdl:fault message="tns:HsaWsFault" name="fault"/>
    </wsdl:operation>
    <wsdl:operation name="GetHsaPerson">
      <wsdl:input message="tns:GetHsaPersonRequest"/>
      <wsdl:output message="tns:GetHsaPersonResponse"/>
      <wsdl:fault message="tns:HsaWsFault" name="fault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HsaWsResponderBinding" type="tns:HsaWsResponderInterface">
    <wsp:PolicyReference URI="#wsmtom_policy" wsdl:required="true"/>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="HsawsSimpleLookup">
      <soap:operation soapAction="urn:riv:hsa:HsaWsResponder:2:hsawsSimpleLookup" style="document"/>
      <wsdl:input>
        <soap:header message="tns:HsawsSimpleLookupRequest" part="LogicalAddress" use="literal"/>
        <soap:header message="tns:HsawsSimpleLookupRequest" part="Id" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetHsaUnit">
      <soap:operation soapAction="urn:riv:hsa:HsaWsResponder:2:getHsaUnit" style="document"/>
      <wsdl:input>
        <soap:header message="tns:GetHsaUnitRequest" part="LogicalAddress" use="literal"/>
        <soap:header message="tns:GetHsaUnitRequest" part="Id" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCareUnit">
      <soap:operation soapAction="urn:riv:hsa:HsaWsResponder:2:getCareUnit" style="document"/>
      <wsdl:input>
        <soap:header message="tns:GetCareUnitRequest" part="LogicalAddress" use="literal"/>
        <soap:header message="tns:GetCareUnitRequest" part="Id" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMiuForPerson">
      <soap:operation soapAction="urn:riv:hsa:HsaWsResponder:2:getMiuForPerson" style="document"/>
      <wsdl:input>
        <soap:header message="tns:GetMiuForPersonRequest" part="LogicalAddress" use="literal"/>
        <soap:header message="tns:GetMiuForPersonRequest" part="Id" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetHospPerson">
      <soap:operation soapAction="urn:riv:hsa:HsaWsResponder:2:getHospPerson" style="document"/>
      <wsdl:input>
        <soap:header message="tns:GetHospPersonRequest" part="LogicalAddress" use="literal"/>
        <soap:header message="tns:GetHospPersonRequest" part="Id" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="VpwGetPublicUnits">
      <soap:operation soapAction="urn:riv:hsa:HsaWsResponder:2:vpwGetPublicUnits" style="document"/>
      <wsdl:input>
        <soap:header message="tns:VpwGetPublicUnitsRequest" part="LogicalAddress" use="literal"/>
        <soap:header message="tns:VpwGetPublicUnitsRequest" part="Id" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPriceUnitsForAuth">
      <soap:operation soapAction="urn:riv:hsa:HsaWsResponder:2:getPriceUnitsForAuth" style="document"/>
      <wsdl:input>
        <soap:header message="tns:GetPriceUnitsForAuthRequest" part="LogicalAddress" use="literal"/>
        <soap:header message="tns:GetPriceUnitsForAuthRequest" part="Id" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="urn:riv:hsa:HsaWsResponder:2:ping" style="document"/>
      <wsdl:input>
        <soap:header message="tns:PingRequest" part="LogicalAddress" use="literal"/>
        <soap:header message="tns:PingRequest" part="Id" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsAuthorizedToSystem">
      <soap:operation soapAction="urn:riv:hsa:HsaWsResponder:2:isAuthorizedToSystem" style="document"/>
      <wsdl:input>
        <soap:header message="tns:IsAuthorizedToSystemRequest" part="LogicalAddress" use="literal"/>
        <soap:header message="tns:IsAuthorizedToSystemRequest" part="Id" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetInformationList">
      <soap:operation soapAction="urn:riv:hsa:HsaWsResponder:2:getInformationList" style="document"/>
      <wsdl:input>
        <soap:header message="tns:GetInformationListRequest" part="LogicalAddress" use="literal"/>
        <soap:header message="tns:GetInformationListRequest" part="Id" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCareUnitList">
      <soap:operation soapAction="urn:riv:hsa:HsaWsResponder:2:getCareUnitList" style="document"/>
      <wsdl:input>
        <soap:header message="tns:GetCareUnitListRequest" part="LogicalAddress" use="literal"/>
        <soap:header message="tns:GetCareUnitListRequest" part="Id" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCareUnitMembers">
      <soap:operation soapAction="urn:riv:hsa:HsaWsResponder:2:getCareUnitMembers" style="document"/>
      <wsdl:input>
        <soap:header message="tns:GetCareUnitMembersRequest" part="LogicalAddress" use="literal"/>
        <soap:header message="tns:GetCareUnitMembersRequest" part="Id" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetHsaPerson">
      <soap:operation soapAction="urn:riv:hsa:HsaWsResponder:2:getHsaPerson" style="document"/>
      <wsdl:input>
        <soap:header message="tns:GetHsaPersonRequest" part="LogicalAddress" use="literal"/>
        <soap:header message="tns:GetHsaPersonRequest" part="Id" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HsaWsResponderService">
    <wsdl:port binding="tns:HsaWsResponderBinding" name="HsaWsResponderPort">
      <soap:address location="https://testhotell2.carelink.sjunet.org/svr-hsaws2/hsaws"/>
    </wsdl:port>
  </wsdl:service>
  <xs:annotation>
    <xs:documentation>Tjänsteinteraktionens namn: HsaWs
			Beskrivning: HSA WebServices
			Revisioner: 2013-04-11 Version 3.16
			Tjänstedomän: hsa
			Tjänsteinteraktionstyp: Fråga-svar
			RIV Teknisk Anvisning: Basic Profile 2.0
			Förvaltas av: Inera AB, HSA-förvaltningen</xs:documentation>
  </xs:annotation>
  <wsp:Policy wsu:Id="wsmtom_policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
  </wsp:Policy>
</wsdl:definitions>