schemas/src/main/resources/schemas/core_components/ehr_log_1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Inera AB licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->	
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' 
	xmlns:tns='urn:riv:ehr:log:1'
	targetNamespace='urn:riv:ehr:log:1'
	elementFormDefault='qualified'
	attributeFormDefault='unqualified' 
	version='1.0'>

	<xs:annotation>
	    <xs:documentation xml:lang='sv'>
	    </xs:documentation>
	</xs:annotation>


	<xs:simpleType name="ResultCodeType">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Enumerationsvärde som anger de svarskoder som finns.
		    </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        Transaktionen har utförts enligt uppdraget.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INFO">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        Transaktionen har utförts enligt begäran, men det finns ett meddelande som konsumenten måste visa upp för användaren (om tillämpbart). Exempel på detta kan vara &amp;quot;kom fastande&amp;quot;.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ERROR">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        Transaktionen har INTE kunnat utföras p.g.a ett logiskt fel. Det finns ett meddelande som konsumenten måste visa upp. Exempel på detta kan vara &amp;quot;tiden har bokats av annan patient&amp;quot;.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VALIDATION_ERROR">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        En eller flera inparametrar innehåller felaktiga värden. Angiven tjänst utfördes ej.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ACCESSDENIED">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        Behörighet saknas för att utföra begärd tjänst. Angiven tjänst utfördes ej.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REPORT_ON_QUEUE">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        Angiven rapport är ej klar. Rapporten ligger på kö för att genereras. Ytterligere anrop kan göras för att kontrollera om jobbet är klart.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REPORT_IN_PROCESS">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        Angiven rapport är ej klar. Rapporten är under uppbyggnad. Ytterligere anrop kan göras för att kontrollera om jobbet är klart.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REPORT_NOT_FOUND">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        Felaktig id angivet. Angiven tjänst ej kan hitta rapport med angivet id som är skapad eller rapport som ligger på kö för att skapas.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MAX_QUERY_RESULT_EXCEEDED">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        Max antal loggposter som tjänsten kan returnera har överstigits. Ändra sökparametrar för att begränsa rapportuttaget.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ActivityTypeType">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Enumerationsvärde som anger typ av aktivitet som utförts. 
		        Kan vara Läsa, Skriva, Signera, Utskrift, Vidimera, Radera, Nödöppning
		    </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Läsa">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        En läsning av data har utförts.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Skriva">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        En aktivitet där något läggs till.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Signera">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        Signering har utförts.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Utskrift">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        En utskrift har utförts.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Vidimera">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        En autentisering har utförts.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Radera">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        Något har raderats.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Nödöppning">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        Nödöppning har gjorts.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="PurposeTypeType">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Enumerationsvärde som anger syfte till aktivitet. 
		        Kan vara Vård och behandling, Kvalitetssäkring, Annan dokumentation enligt lag, Statistik, Administration och Kvalitetsregister
		    </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Vård och behandling">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        Innefattar följande ändamål enligt Patientdatalag 2kap4§: Att fullgöra de skyldigheter som anges i 3 kap. (Skyldigheten att föra patientjournal) och upprätta annan dokumentation som behövs i och för vården av patienter. Administration som rör patienter och som syftar till att ge vård i enskilda fall eller som annars föranleds av vård i enskilda fall.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Kvalitetssäkring">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        Innefattar följande ändamål enligt Patientdatalag 2kap4§: Systematiskt och fortlöpande utveckla och säkra kvaliteten i verksamheten.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Annan dokumentation enligt lag">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        Innefattar följande ändamål enligt Patientdatalag 2kap4§: Upprätta annan dokumentation som följer av lag, förordning eller annan författning.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Statistik">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        Innefattar följande ändamål enligt Patientdatalag 2kap4§: Framställa statistik om hälso- och sjukvården.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Administration">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        Innefattar följande ändamål enligt Patientdatalag 2kap4§: Administration, planering, uppföljning, utvärdering och tillsyn av verksamheten.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Kvalitetsregister">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        Beskrivs i Patientdatalagen 7kap4§: Att systematiskt och fortlöpande utveckla och säkra vårdens kvalitet. Ändamålet ska användas vid kvalitetsuppföljning i av SKL godkända kvalitetsregister.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="PurposeDescription">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som representerar beskrivning av ett syfte i Hsa.
		    </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ActivityTypeValue">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som representerar beskrivning av en aktivitetstyp.
		    </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="SystemName">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som representerar namn på ett system.
		    </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="UserName">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som representerar namn för en användare.
		    </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Assignment">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som representerar namn på medarbetare i uppdrag.
		    </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="UserTitle">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som representerar titel på användare.
		    </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ActivityLevel">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som representerar en aktivitets nivå.
		    </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ActivityArgs">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som representerar en .
		    </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="8192"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ResourceTypeValue">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som representerar en aktivitets nivå.
		    </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="CareProviderName">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som representerar namn på en vårdgivare.
		    </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="CareUnitName">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som representerar namn på en vårdenhet.
		    </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="PatientName">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som representerar en patients namn.
		    </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Id">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som representerar ett unikt identifikationsnummer enligt formatet för UUID (Universally Unique Identifier).
		    </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="36"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="HsaId">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som representerar det unika nummer som identifierar en anställd, uppdragstagare, strukturenhet eller en HCC funktion (HSA-id).
		        Specificerat enligt HSA-schema tjänsteträdet version 3.9.
		    </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="PersonId">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som representerar ett personnummer, samordningsnummer eller ett reservnummer.
		    </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	
	
	<xs:complexType name="LogType">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som representerar en loggpost enligt PDL. Datatypen beskriver grundformatet för en loggpost.
		    </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LogId" type="tns:Id"/>
			<xs:element name="System" type="tns:SystemType"/>
			<xs:element name="Activity" type="tns:ActivityType"/>
			<xs:element name="User" type="tns:UserType"/>
			<xs:element name="Resources" type="tns:ResourcesType"/>
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ResourcesType">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Information om aktuella resurser. En loggpost kan hålla en eller flera resurser.
		    </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Resource" type="tns:ResourceType" maxOccurs="unbounded"/>
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ActivityType">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som representerar vilken typ av aktivitet som utförts, på vilken nivå, tidpunkt samt syftet med aktiviteten.
		    </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ActivityType" type="tns:ActivityTypeValue"/>
			<xs:element name="ActivityLevel" type="tns:ActivityLevel" minOccurs="0"/>
			<xs:element name="ActivityArgs" type="tns:ActivityArgs" minOccurs="0"/>
			<xs:element name="StartDate" type="xs:dateTime"/>
			<xs:element name="Purpose" type="tns:PurposeDescription"/>
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="UserType">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som representerar användaren som utfört aktivitet, tillika ägare av loggpost.
		    </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UserId" type="tns:HsaId"/>
			<xs:element name="Name" type="tns:UserName" minOccurs="0"/>
			<xs:element name="PersonId" type="tns:PersonId" minOccurs="0"/>
			<xs:element name="Assignment" type="tns:Assignment" minOccurs="0"/>
			<xs:element name="Title" type="tns:UserTitle" minOccurs="0"/>
			<xs:element name="CareProvider" type="tns:CareProviderType"/>
			<xs:element name="CareUnit" type="tns:CareUnitType"/>
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ResourceType">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som representerar en resurs i loggposten.
		    </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ResourceType" type="tns:ResourceTypeValue"/>
			<xs:element name="Patient" type="tns:PatientType" minOccurs="0"/>
			<xs:element name="CareProvider" type="tns:CareProviderType"/>
			<xs:element name="CareUnit" type="tns:CareUnitType" minOccurs="0"/>
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SystemType">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som representerar ett system i loggposten. Det system som skapar loggposten.
		    </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SystemId" type="tns:HsaId"/>
			<xs:element name="SystemName" type="tns:SystemName" minOccurs="0"/>
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CareUnitType">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som representerar en vårdenhet.
		    </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CareUnitId" type="tns:HsaId"/>
			<xs:element name="CareUnitName" type="tns:CareUnitName" minOccurs="0"/>
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CareProviderType">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som representerar en vårdgivare.
		    </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CareProviderId" type="tns:HsaId"/>
			<xs:element name="CareProviderName" type="tns:CareProviderName" minOccurs="0"/>
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="PatientType">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som representerar en patient i en resurs.
		    </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PatientId" type="tns:PersonId"/>
			<xs:element name="PatientName" type="tns:PatientName" minOccurs="0"/>
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
