mc2wc/mc2wc-batch/src/test/resources/data/certificate_dataset.dtd

<!ELEMENT dataset (
    answer*,
    authorities*,
    care_giver*,
    care_unit*,
    certificate*,
    complement*,
    draft_answer*,
    question*,
    users*,
    users_care_unit*)>

    <!ELEMENT answer EMPTY>
    <!ATTLIST answer
        ORIGINATOR CDATA #REQUIRED
        ID CDATA #REQUIRED
        CARE_GIVER_ID CDATA #IMPLIED
        CARE_GIVER_NAME CDATA #IMPLIED
        CARE_PERSON_CODE CDATA #IMPLIED
        CARE_PERSON_ID CDATA #IMPLIED
        CARE_PERSON_NAME CDATA #IMPLIED
        CARE_UNIT_ID CDATA #IMPLIED
        CARE_UNIT_NAME CDATA #IMPLIED
        CARE_UNIT_WORKPLACE_CODE CDATA #IMPLIED
        CARE_EMAIL_ADDRESS CDATA #IMPLIED
        CARE_PHONE_NUMBER CDATA #IMPLIED
        CARE_POSTAL_ADDRESS CDATA #IMPLIED
        CARE_POSTAL_CITY CDATA #IMPLIED
        CARE_POSTAL_NUMBER CDATA #IMPLIED
        CREATED CDATA #IMPLIED
        SENT_AT CDATA #IMPLIED
        STATE CDATA #IMPLIED
        TEXT CDATA #IMPLIED
        TEXT_SIGNED_AT CDATA #IMPLIED
        FK_CONTACT CDATA #IMPLIED
        SIGNED_DATA CDATA #IMPLIED
        QUESTION_ID CDATA #IMPLIED
        >

    <!ELEMENT authorities EMPTY>
    <!ATTLIST authorities
        ID CDATA #REQUIRED
        AUTHORITY CDATA #REQUIRED
        USER_ID CDATA #IMPLIED
        >

    <!ELEMENT care_giver EMPTY>
    <!ATTLIST care_giver
        ID CDATA #REQUIRED
        EMAIL CDATA #REQUIRED
        HSA_ID CDATA #REQUIRED
        NAME CDATA #REQUIRED
        >

    <!ELEMENT care_unit EMPTY>
    <!ATTLIST care_unit
        ID CDATA #REQUIRED
        EMAIL CDATA #IMPLIED
        HSA_ID CDATA #REQUIRED
        NAME CDATA #REQUIRED
        VERSION CDATA #IMPLIED
        CARE_GIVER_ID CDATA #IMPLIED
        >

    <!ELEMENT certificate EMPTY>
    <!ATTLIST certificate
        ID CDATA #REQUIRED
        CARE_UNIT_ID CDATA #IMPLIED
        CREATED_AT CDATA #IMPLIED
        DOCUMENT CDATA #IMPLIED
        ORIGIN CDATA #IMPLIED
        PATIENT_NAME CDATA #IMPLIED
        PATIENT_SSN CDATA #IMPLIED
        SENT_AT CDATA #IMPLIED
        SIGNATURE CDATA #IMPLIED
        SIGNED_AT CDATA #IMPLIED
        STATE CDATA #IMPLIED
        >

    <!ELEMENT complement EMPTY>
    <!ATTLIST complement
        ID CDATA #REQUIRED
        FALT CDATA #IMPLIED
        TEXT CDATA #IMPLIED
        QUESTION_ID CDATA #IMPLIED
        >

    <!ELEMENT draft_answer EMPTY>
    <!ATTLIST draft_answer
        ID CDATA #REQUIRED
        careGiverId CDATA #IMPLIED
        careGiverName CDATA #IMPLIED
        carePersonCode CDATA #IMPLIED
        carePersonId CDATA #IMPLIED
        carePersonName CDATA #IMPLIED
        careReferenceId CDATA #IMPLIED
        careUnitId CDATA #IMPLIED
        careUnitName CDATA #IMPLIED
        careUnitWorkplaceCode CDATA #IMPLIED
        created CDATA #IMPLIED
        TEXT CDATA #IMPLIED
        >

    <!ELEMENT question EMPTY>
    <!ATTLIST question
        ORIGINATOR CDATA #REQUIRED
        ID CDATA #REQUIRED
        CARE_GIVER_ID CDATA #IMPLIED
        CARE_GIVER_NAME CDATA #IMPLIED
        CARE_PERSON_CODE CDATA #IMPLIED
        CARE_PERSON_ID CDATA #IMPLIED
        CARE_PERSON_NAME CDATA #IMPLIED
        CARE_UNIT_ID CDATA #IMPLIED
        CARE_UNIT_NAME CDATA #IMPLIED
        CARE_UNIT_WORKPLACE_CODE CDATA #IMPLIED
        CARE_EMAIL_ADDRESS CDATA #IMPLIED
        CARE_PHONE_NUMBER CDATA #IMPLIED
        CARE_POSTAL_ADDRESS CDATA #IMPLIED
        CARE_POSTAL_CITY CDATA #IMPLIED
        CARE_POSTAL_NUMBER CDATA #IMPLIED
        FK_CONTACT CDATA #IMPLIED
        CAPTION CDATA #IMPLIED
        FK_REFERENCE_ID CDATA #IMPLIED
        PATIENT_NAME CDATA #IMPLIED
        PATIENT_SSN CDATA #IMPLIED
        SENT_AT CDATA #IMPLIED
        STATE CDATA #IMPLIED
        SUBJECT CDATA #IMPLIED
        TEXT CDATA #IMPLIED
        TEXT_SIGNED_AT CDATA #IMPLIED
        SIGNED_DATA CDATA #IMPLIED
        LAST_DATE_FOR_ANSWER CDATA #IMPLIED
        CERTIFICATE_ID CDATA #REQUIRED
        >

    <!ELEMENT users EMPTY>
    <!ATTLIST users
        ID CDATA #REQUIRED
        ENABLED CDATA #REQUIRED
        FIRSTNAME CDATA #IMPLIED
        LASTNAME CDATA #IMPLIED
        PASSWORD CDATA #IMPLIED
        USERNAME CDATA #REQUIRED
        >

    <!ELEMENT users_care_unit EMPTY>
    <!ATTLIST users_care_unit
        users_ID CDATA #REQUIRED
        careUnits_ID CDATA #REQUIRED
        >

